repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: commitlint
        name: commitlint
        entry: bash scripts/commitlint.sh --edit
        language: system
        stages: [commit-msg]
        pass_filenames: true
        require_serial: true
        args: ['--config', 'commitlint.config.js']
